.our-clients-container {
	height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url('./graphics/lightbulb.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  background-color: white;
  /* font-family: sans-serif; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.all-clients-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20em;
}

.client-container {
	width: 200px;
	/* flex-direction: row; */
}

.client-container img {
  max-width: 100%; /* Ensures the image scales within the container */
  height: auto;
}

.text-container {
  margin: 4em 0em;
  /* width: 70%; */
}

.highlight-green {
	color: #28A745;
}
.highlight-gold {
	color: #FFD700;
}
.highlight-blue {
	color: #61DAFB;
}
.text {
  margin: 0.5em 0em;
}

